<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCR26UCDXthiyxsZXUyA1CwUZLluXujuU4</string>
	<key>GCM_SENDER_ID</key>
	<string>1012001851655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.didiPartner</string>
	<key>PROJECT_ID</key>
	<string>didirooms-258f6</string>
	<key>STORAGE_BUCKET</key>
	<string>didirooms-258f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012001851655:ios:900d03d825a61d97961da2</string>
	<key>DATABASE_URL</key>
	<string>https://didirooms-258f6-default-rtdb.firebaseio.com</string>
</dict>
</plist>